@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato";
    font-weight: 400;
    font-size: 22px;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__heading{
    display: flex;
    visibility: visible;
    justify-content: center;
    font-weight: 400;
    font-size: 30px;
    color: #222;
    padding-right: 80px;
}

.card__vis{
    visibility: visible;
}

.card {
    display: flex;
    max-width: 652px;
    box-shadow: 17px 19px 24px 0 rgba(0,0,0,0.13);
    position: relative;
    margin-bottom: 30px;
}
.image_card{
    width: 262px;
}
.info {
    width: 362px;
    padding: 22px 97px 62px 31px;
}
.card_title {
    font-weight: 400;
    font-size: 24px;
    color: #222;
    padding-bottom: 42px;
}
.card__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.card__item {
    color: #575757;
}
.price {
    color: #ef5b70;
}
.gray {
    color: #6f6e6e;
}
.close {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    top: 28px;
    right: 22px;
}

input{
    width: 44px;
    height: 25px;
    border: 1px solid #EAEAEA;
    padding-left: 15px;
    font-size: 18px;
    color: #656565;
}